/*main { padding-left:3em;
    padding-right: 3em;
    padding-bottom: 1em;

    width:75%;
    background-color: #FFFFEB;
    margin:0 auto;
}
h2 {
  border-bottom: 0.10em solid black;
}
img {
  padding-left: 5em;
}*/


main { padding-left:12em;
    padding-right: 3em;
    background-color: #FFFFEB;
    margin: 0 auto;


}
h2 {border-bottom: 0.10em solid black;}
img {margin: 0.5em;
  padding-left: 5em;

}
p, ul {width: 75%;
        padding-left:2em;  }
h2 {

  width:75%;
}