body {
  background-color:#EBEBED;
}

.logos {
  height:25px;
  width:25px;
}

p {
  font-size:15px;
}

.footer {
  display:none; /*Until I figure out how to keep footer fixed at bottom without using fixed*/
}
